---
import App from '../components/App';
import '../styles/global.css';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>DeliCharly | Panel Interno</title>
  </head>
  <body class="bg-[#FAF8F4] text-stone-800">
    <App client:load />
  </body>
</html>
